.popover {
  max-width: 95vw;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  border: 2px solid #0a0a09;
}

.apiImg:hover,
.popoverImg:hover {
  border: 2px solid #debccc;
  cursor: pointer;
}

.popover-body {
  overflow-y: auto;
  height: 50vh;
}
/* 
.apiImg {
  height: 180px;
  width: 180px;
} */

.popoverImg {
  height: 100px;
  width: 100px;
}

@media only screen and (max-width: 400px) {
  .apiImg {
    height: 100px;
    width: 100px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 570px) {
  .apiImg {
    height: 140px;
    width: 140px;
  }
}

@media only screen and (min-width: 571px) {
  .apiImg {
    height: 180px;
    width: 180px;
  }
}
