.popover {
  max-width: 95vw;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  border: 2px solid #0a0a09;
}

.apiImg:hover,
.popoverImg:hover {
  border: 2px solid #debccc;
  cursor: pointer;
}

.popover-body {
  overflow-y: auto;
  height: 50vh;
}

.apiImg {
  height: 180px;
  width: 180px;
}

.popoverImg {
  height: 100px;
  width: 100px;
}

@media (max-width: 500px) {
  .apiImg {
    height: 100px;
    width: 100px;
  }
}
