@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");

body {
  background-color: #fff;
}

#root {
  font-family: "Montserrat", sans-serif;
  min-width: 220px;
}

.card-deck {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-row-gap: 50px;
}

.card,
.card-header,
.card-body,
.card-footer {
  background-color: #fff;
  color: #85412f;
  border: none;
}

.card {
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 1px solid #debccc;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(222, 188, 204, 0.7);
}

.card-header {
  display: flex;
  justify-content: flex-start;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
}

#addnew {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  padding: 12px 20px;
}

.locationCard {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.expandCard {
  flex: 0 1 auto;
  margin-left: auto;
}

.expandCard:hover {
  color: #df8167;
  cursor: pointer;
}

.card-img-top {
  position: relative;
  height: 180px;
  width: 180px;
}

.card-img-bottom {
  position: relative;
  height: 50px;
  width: 50px;
  left: 90px;
  margin-top: -30px;
}

.card-body {
  padding-bottom: 0;
}

.card-title {
  font-weight: 900;
}

.card-subtitle {
  font-size: 10px;
}

.price {
  font-size: 28px;
}

.card-text {
  font-family: "Crimson Text", serif;
  text-align: justify;
}

.readmore {
  color: #14050c;
  font-size: 14px;
}

.readmore:hover {
  color: #c9b3a7;
  text-decoration: none;
}

.card-footer {
  margin-bottom: 10px;
}

.tools {
  position: relative;
}

.edit,
.trash {
  border: 1px solid #df8167;
  height: 50px;
  width: 50px;
  padding: 12px;
  top: -15px;
}

.edit {
  color: #df8167;
  background-color: white;
  right: 90px;
  position: absolute;
}

.trash {
  color: white;
  background-color: #df8167;
  right: 10px;
  position: absolute;
}

.trash:hover {
  color: white;
  background-color: #debccc;
  border-color: #debccc;
}

.edit:hover {
  color: #debccc;
  border-color: #debccc;
}
